*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items:center;
    background: rgb(147,163,245);
    background: radial-gradient(circle, rgba(147,163,245,1) 0%, rgba(77,115,244,1) 45%, rgba(70,118,252,0.9906337535014006) 100%);

}

.location{
    display:flex;
    align-items: center;
    flex-direction: column;
}
#weatherIcon{
    width: 40%;
}

#city{
    font-size: 50px;
}

#degree{
    margin-top: -45px; /*just testing if it looks nicer*/
    font-size: 40px;
    text-align:center;
}


#description{
    font-size: 30px;
    text-align:center;
    font-style: italic;
}